* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*cobre 100% da tela do navegador*/
}

.login-container {
    background-color: #AE0000;
    border-radius: 10px;
    width: 420px;
    height: 480px;
    display: flex; /* Para centralização */
    flex-direction: column; /* Elementos organizados em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}


.input-group {
    margin-bottom: 10px; /* Distancia */
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px; /*mudanças das palavras no group*/
    }
    
button {
    width: 100%;
    padding: 10px;
    background-color: #FF2A2A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
}

.register-link {
    color: white;
    font-size: 14px;
    text-align: center; /* Centraliza o link */
}

.register-link a {
    color: #fff;
    text-decoration: underline;
}

footer{
    background-color: #B92626 ;
    padding: 20px;
    text-align:center; /*Alinha texto do rodapé ao centro*/
    bottom: 0;/* Alinha o rodapé abaixo da página*/
    position: absolute;/*Posiciona o rodapé de forma absoluta em relação ao body*/
    width: 100%; /*define a largura do rodapé*/
}

.senai-logo {
    width: 300px; /* Ajuste este valor para aumentar ou diminuir o tamanho da largura */
    height: 70px; /* Mantém a proporção da imagem */
    margin-bottom: 5px;
    border-radius: 10px;
}
header{
    background-color: #B92626 ;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
}/*Fechamento de header*
